<ion-modal-view>
    <div class="bar bar-header bar-dark">
        <h1 class="title">Kategorien zurücksetzen</h1>
        <button class="button button-icon icon ion-ios7-close close-modal"
                ng-click="closeModal(2)">
        </button>
    </div>
    <ion-content class="has-header">
        <ion-list can-swipe="true">
            <ion-item class="item-text-wrap animation">
                <ion-checkbox ng-repeat="module in modules">{{module}}</ion-checkbox>
            </ion-item>
        </ion-list>
        <button class="button button-block button-assertive">Zurücksetzen</button>
    </ion-content>
</ion-modal-view>