<ion-modal-view>
    <div class="bar bar-header bar-dark">
        <h1 class="title">Kategorien zurücksetzen</h1>
        <button class="button button-icon icon ion-ios7-close close-modal"
                ng-click="closeModal(2)">
        </button>
    </div>
    <ion-content class="has-header">
        <ion-checkbox>Autos</ion-checkbox>
        <ion-checkbox>Deutsche Sehenswürdigkeiten</ion-checkbox>
        <ion-checkbox>Gefährliche Raubtiere</ion-checkbox>
        <button class="button button-block button-balanced">Fertig</button>
    </ion-content>
</ion-modal-view>