<ion-modal-view>
    <div class="bar bar-header bar-dark">
        <h1 class="title">Kategorien hinzufügen</h1>
        <button class="button button-icon icon ion-ios7-close close-modal"
                ng-click="closeModal(1)">
        </button>
    </div>

    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-text-wrap animation">
                <ion-checkbox
                        ng-repeat="item in importModules" ng-model="item.checked" ng-checked="item.checked">
                    {{item.category}}
                </ion-checkbox>
            </ion-item>
        </ion-list>
        <div class="card" ng-hide="importModules.length">
            <div class="item" style="text-align: center;">
                <p class="icon ion-sad-outline">Keine Kategorien vorhanden</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
        <div class="button-bar">
            <button class="button button-clear" ng-click="import()">Importieren</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>