<ion-view title="imageQuizz">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-search"
                ng-click="">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
                D
            </div>

            <a class="item" href="#">
                Deutsche Sehenswürdigkeiten
            </a>

            <div class="item item-divider">
                G
            </div>

            <a class="item" href="#">
                Gefährliche Raubtiere
            </a>


        </div>
    </ion-content>
</ion-view>