<ion-view>
    <ion-content class="has-header" ;
    <div class="list has-header">
        <div class="item item-divider">
            D
        </div>

        <a class="item" href="#">
            Deutsche Sehenswürdigkeiten
        </a>

        <div class="item item-divider">
            G
        </div>

        <a class="item" href="#">
            Gefährliche Raubtiere
        </a>


    </div>
    </ion-content>
</ion-view>

<!--<ion-view title="Leistungen">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-more" ng-click="rlCtrl.openPopover($event)"></button>
        <button class="button button-icon icon ion-plus" ng-click="rlCtrl.addRecord()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="item item-input-inset" ng-show="rlCtrl.searchActive">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="rlCtrl.searchQuery">
            </label>
            <button class="button button-clear" style="min-height: inherit;line-height: inherit;"
                    ng-click="rlCtrl.toggleSearch()">Cancel
            </button>
        </div>

        <ion-list>
            <ion-item class="item-text-wrap"
                      ng-repeat="record in (rlCtrl.records | filter:rlCtrl.searchQuery |orderBy:['name']:false)"
                      href="#/records/{{record.$id}}">
                <h2>{{record.name}}
                    <div style="font-weight: 500;" class="text-right">{{record.mark}}%</div>
                    <p>{{record.modulnr}} {{record.crp}}crp</p>
                </h2>


                <ion-option-button class="button-assertive"
                                   ng-click="rlCtrl.delete(record)">Löschen
                </ion-option-button>
            </ion-item>
        </ion-list>

        &lt;!&ndash;Wenn kein Eintrag in der Liste existiert wird folgender Inhalt angezeigt.&ndash;&gt;
        <div class="card" ng-hide="rlCtrl.records.length">
            <div class="item item-text-wrap">
                Keine Leistung vorhanden.
                <button class="button button-block ion-plus button-light" ng-click="rlCtrl.addRecord()">
                    Leistung anlegen
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>-->
