<ion-view title="imageQuizz">

    <div class="has-header">
            <img src={{question.imageLink}} style=" display:block; margin-left:auto; margin-right:auto; max-width: 100%">
    </div>

    <!-- -->
    <div style="position: fixed; bottom: 0px; width: 100%; padding-left: 2%; padding-right: 2%; background-color: #4d4d4d">
        <ion-list>
            <button class="button button-block button-outline button-light" ng-click=""
                    ng-repeat="option in question.options">
                {{option['option']}}
            </button>
        </ion-list>
    </div>

</ion-view>