<ion-view title="imageQuizz">
    <ion-content class="has-header">
        <div style="background-color: #4d4d4d">
            <div>
                <img src="http://placehold.it/400x320"
                     style="display: block; margin-left: auto;margin-right:auto;">
            </div>
            <div style="padding-left: 2%;padding-right: 2%;padding-bottom: 100%">
                <ion-list>
                    <button class="button button-block button-outline button-light" ng-repeat="answer in qCtrl.answers"
                            ng-click="">
                        {{answer.name}}</button>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>