<ion-view title="imageQuizz">
    <ion-content class="has-header">
        <div class="padding">
            <button class="button button-block button-stable" ng-click="stCtrl.saveData()">Benutzerdaten in der Cloud
                speichern
            </button>
            <button class="button button-block button-stable" ng-click="stCtrl.openModal()">Module hinzufügen</button>
            <button class="button button-block button-assertive">Gelernte Karten zurücksetzen</button>
        </div>
    </ion-content>
</ion-view>
