<ion-view title="imageQuizz">
    <ion-content class="has-header">
        <!--<h1>Hier wird die Statistik angezeigt</h1>-->
        <div>
            <!--<div google-chart chart="chart" style="{{chart.cssStyle}}"/>-->
        </div>

        <div>
            <div google-chart chart="chartObject" style="{{chartObject.cssStyle}}"></div>
        </div>
        <hr>
        <div>
            <div google-chart chart="chartObjectColumn" style="{{chartObjectColumn.cssStyle}}"></div>
        </div>

    </ion-content>
</ion-view>

<!--Idee : Footer in index.html, ng-show verwenden auf einen attribut im root scope und anhand dessen footer einblenden-->