<ion-view>
    <ion-content class="has-header">
        <h1>Hier wird die Statuistik angezeigt</h1>
    </ion-content>
    <div class="tabs-striped tabs-background-dark tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item " href="#/modules">
                <i class="icon ion-drag "></i>
                List
            </a>
            <a class="tab-item active" href="#/statistic">
                <i class="icon ion-stats-bars"></i>
                Stats
            </a>
            <a class="tab-item" href="#/settings">
                <i class="icon ion-gear-a"></i>
                Settings
            </a>
        </div>
    </div>

</ion-view>


<!--Idee : Footer in index.html, ng-show verwenden auf einen attribut im root scope und anhand dessen footer einblenden-->